footer { 
    position: relative;
    width: 100%;
    background-color: #333; 
    color: white; 
    margin-top: 20px;

    .row{
    margin-top: 10px;
    padding: 4px;
    margin-bottom: 0px;
    }
    img{
    height: auto;
    width: 300px;
    }
    a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 10px;
    }

    p{
    font-size: 20px;
    }
}